* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #f6f8fc;
}

.content {
    width: 120vw;
    height: 120vh;
    padding: 1rem;
    background-color: #fff;
}

@media screen and (min-width: 992px) {
    .content {
        max-width: 992px;
        height: auto;
        margin: 1rem auto;
        border-radius: 1rem;
    }
}

body{
    background-image: url();
    background-size: cover;
}

.painel{
    background-color: red;
    border: 10px solid rgb(142, 23, 23);
    height: 700px;
    width: 480px;
    border-radius: 10px;
    padding-top: 10px;
    text-align: center;
    color: white;
    margin: auto;
    margin-top: 30px;
    box-shadow: 3px 3px 15px black;
}

.pokemon{
    width: 110px;
    height: 110px;
}

#tela{
    margin: auto;
    background-color: gray;
    border: 15px solid rgb(219, 214, 214);
    width: 420px;
    height: 450px;
    
    margin-bottom: 10px;
    border-radius: 10px;
    background-image: url(https://i.pinimg.com/736x/d6/7c/3c/d67c3cbce4d7e9355e8522e10434d76c.jpg);
    background-size: cover;
    animation: carregar 10s alternate;

}
  @keyframes carregar {
    0%{ height: 0; }
    100%{  }
}  

p{
    background-color: rgba(0, 0, 0, 0.388);
    width: 250px;
    margin: auto;
}
h2{
    background-color: rgba(0, 0, 0, 0.388);
    width: 250px;
    margin: 40px auto;
    border-radius: 10px;
}
#entrada{
    height: 30px;
    text-align: center;
    border-radius: 10px;
}

button{
    height: 35px;
    margin: 7px;
    background-color: black;
    color: white;
    border: 3px solid gray;
    border-radius: 10px;
    box-shadow: 3px 3px 5px black
}
button:hover{
    background-color: green;
    height: 40px;
}

